.rojo{
    background-color: darksalmon;
}
.gris{
    background-color: grey;
}
.azul{
    background-color: aquamarine;
}
.verde{
    background-color: darkseagreen;
}
.morado{
    background-color: darkviolet;
}
.verdeOscuro{
    background-color: green
}
.amarillo{
    background-color: yellow;
}
.naranja{
    background-color: orange;
}