@import url(https://fonts.googleapis.com/css?family=Open+Sans:400.700|Bitter:400,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0076A3;
  color: #EEE8D6;
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Bitter", serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
}

[class*='col-'] {
  float: left;
  margin-top: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
  padding: 10px;
  background-color: #09093c;
}

@media (min-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: warp;
        flex-wrap: warp;
  }
}

nav h2 {
  display: none;
}

@media (min-width: 768px) {
  nav h2 {
    display: block;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
}

@media (min-width: 768px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: warp;
        flex-wrap: warp;
  }
}

nav ul li {
  list-style: none;
  padding: 10px;
}

nav ul a {
  color: #EEE8D6;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  display: block;
}

nav ul a:hover {
  color: #FFBA00;
}

.london {
  background: url("../img/imagen02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 600px;
}

.estacion {
  margin-top: 30px;
  background: url("../img/imagen03.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
  padding: 0 20px 20px 20px;
  font-size: 1.3rem;
}

.background p {
  font-weight: 700;
}

.horario {
  margin-top: -30px;
}

@media (min-width: 768px) {
  .horario {
    padding-left: 1em;
    margin-top: 0px;
  }
}

table {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-family: "Bitter", serif;
  font-size: 1.8rem;
  padding: 5px;
  color: #FFBA00;
  margin-bottom: 20px;
}

table th {
  background-color: #002c3d;
  font-size: 1.3rem;
}

table tr {
  background-color: #005170;
}

table tr:nth-child(odd) {
  background-color: #0076A3;
}

table tr:hover {
  background-color: #FFBA00;
}

table tr th, table tr td {
  padding: 10px;
  border-bottom: 1px dotted #101068;
}

.noticia {
  padding-top: 10px;
  margin-bottom: 30px;
  border-top: 2px dotted #EEE8D6;
}

.noticia h3 {
  color: #ffc833;
  margin-bottom: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.noticia img {
  float: left;
  margin-right: 10px;
}

.noticia p {
  font-size: 1rem;
  color: #EEE8D6;
}

[class*='btn'] {
  display: block;
  border-radius: 3px;
  color: #EEE8D6;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #f20701;
}

@media (min-width: 768px) {
  [class*='btn'] {
    display: inline-block;
  }
}

[class*='btn']:hover {
  background-color: #bf0501;
}

.btn-noticia {
  background-color: #3c641c;
}

.btn-noticia:hover {
  background-color: #243c11;
}

.btn-servicio {
  background-color: #cc9500;
}

.btn-servicio:hover {
  background-color: #997000;
}

.galeria {
  margin-top: 30px;
}

.galeria ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
  list-style: none;
}

.galeria ul li {
  width: 24.25%;
}

.galeria ul li:nth-child(n) {
  margin-right: 1%;
  margin-bottom: 1%;
}

.galeria ul li:nth-child(4n) {
  margin-right: 0;
}

.galeria ul li img {
  border-radius: 10px;
  max-width: 100%;
}

.servicios {
  margin-top: 30px;
  margin-bottom: 30px;
}

.servicios .servicios-lista {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: warp;
      flex-wrap: warp;
}

.servicios .servicios-lista li {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .servicios .servicios-lista li {
    padding-right: 10px;
  }
  .servicios .servicios-lista li:last-child {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .servicios .servicios-lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: warp;
        flex-wrap: warp;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.servicios .servicios-lista .btn-servicio {
  margin-top: 5px;
  font-weight: bold;
}
/*# sourceMappingURL=estilos.css.map */