*{
    padding: 0;
    margin: 0;
}
body{
    background-color: dimgrey;
display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 64px 37px 1fr 
      120px 61px;  
  grid-template-areas: 
    "swiper swiper swiper"
    "titulo titulo titulo"
    "cuerpo cuerpo cuerpo"
    "menu menu menu"
    "a b c"; 
    font-family: Arial;
}
/*Cabecera*/
header{
    position: absolute;
    width: 100%;
    background-color: rgba(199,199,199,1);
    padding: 10px;
    z-index: 2;
}
header h1{
    font-weight: bold;
    text-align: center;
    font-family: 'Alegreya', serif;
}
header div *{
    position: absolute;
}
header div input{
    right: 30px;
    top: 33%;
    width: 100px;
    border-radius: 5px;
}
/*Swiper*/
.swiper-slide img{
    height: 100%
}
/*Grid areas*/
.swiper { grid-area: swiper; }
.nav-menu{
    display: none;
    grid-area: nav-menu;
}
.nav-menu div:hover{
    color: white;
    background-color:  darkgray;
    
}
.titulo{
    grid-area: titulo;
    text-align: center;
    background-color: slategrey;
}
.cuerpo { 
    grid-area: cuerpo; 
    background-color: darkgrey;
}
.menu { 
    grid-area: menu; 
    display: flex;
    justify-content: space-evenly;
    background-color: lightgrey;
}
/*Pie de pagina*/
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: rgba(199,199,199,0.8);
}
.footer{
    display: flex;
    justify-content: space-between;
    border: black 2px solid;
    padding: 10px;
}
.footer a:hover{
    border-bottom: solid black;
}
.footer *{
    width: 30px;
    bottom: 0px;
}
/*Menu contacto*/
.pie-contacto{
    display: none;
    position: fixed;
    bottom: 58px;
    width: 100%;
    z-index: 2;
    background-color: rgba(199,199,199,0.8);
}
.subir{
    display: none;
}
/*Cajas cuerpo*/
.caja{
    width: 80%;
    margin: 15px auto;
    background-color: grey;
    display: flex;
    border-radius: 30px;
    -webkit-animation-name: cajas;
            animation-name: cajas;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    transition: width 1s;
}
.caja:hover{
    width: 90%
}
@-webkit-keyframes cajas {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes cajas {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.caja img{
    width: 20%;
    border-radius: 30px;
    -webkit-animation-name: cajasImgs;
            animation-name: cajasImgs;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}
@-webkit-keyframes cajasImgs {
    from {width: 0%;}
    to {width: 20%;}
}
@keyframes cajasImgs {
    from {width: 0%;}
    to {width: 20%;}
}
.texto{
    padding: 10px;
    text-align: left;
}
.mas{
    display: none;
}
/*Caja menu*/
.menu img{
    width: 100px;
    height: 120px;
    border-radius: 30px;
    transition: grayscale 1s;
}
.menu img:hover{
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
}
.swiper-slide .slider-abajo{
    position: static;
}
/*Pagina actual*/
.seleccionado{
    border-bottom: solid black;
}
/*Aviso legal*/
.aviso-legal{
    display: none;
    text-align: left;
    position: fixed;
    margin: auto;
    padding: 20px;
    bottom: 0;
    z-index: 4;
    background-color: white;
}
.aceptar{
    float: right;
}
.color{
    position: absolute;
    top: 95px;
    right: 20px;
}
#buscarLabel{
    visibility: hidden;
}
@media (min-width: 550px) and (max-width: 960px) {
    body{
        grid-template-rows: 64px 20px 37px 1fr 120px 61px;  
        grid-template-areas: 
        "swiper swiper swiper"
        "nav-menu nav-menu nav-menu"
        "titulo titulo titulo"
        "cuerpo cuerpo cuerpo"
        "menu menu menu"
            "a b c"; 
    }
    .nav-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: lightgrey;
    }
    .nav-menu div{
        width: 100%;
        margin: auto;
        text-align: center;
        border: solid 1px;
    }
    .nav-menu div a{
        color: black;
        text-decoration: none;
    }
    .seleccionado-texto{
        text-decoration: underline;
    }
}
@media (min-width: 960px){
    body{
        grid-template-columns: 1fr 1fr 110px; 
        grid-template-rows: 64px 20px 37px 1fr 61px;  
        grid-template-areas: 
        "swiper swiper swiper"
        "nav-menu nav-menu nav-menu"
        "titulo titulo titulo"
        "cuerpo cuerpo menu"
        "pie-contacto pie-contacto subir"; 
    }
    .nav-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: lightgrey;
    }
    .nav-menu div{
        width: 100%;
        margin: auto;
        text-align: center;
        border: solid 1px;
    }
    .nav-menu div a{
        color: black;
        text-decoration: none;
    }
    .seleccionado-texto{
        text-decoration: underline;
    }
    .menu{
        align-items: center;
        flex-direction: column;
        justify-content: normal;
        background-color: dimgrey;
        border: darkgrey solid;
    }
    .mas{
        display: block;
    }
    .menu1{display: none}
    /*Pie de pagina*/
    footer{
        display: none;
    }
    .pie-contacto{
        grid-area: pie-contacto;
        display: block;
        position: static;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background-color: rgba(199,199,199,0.8);
    }
    .subir{
        display: block;
        position: fixed;
        bottom: 1px;
        right: 0;
        width: 100px;
        text-align: center;
        
    }
    .subir img{
        margin: auto;
        width: 50px;
    }
}
