nav{
    @include displayFlex(row, center,center);
    padding:10px;
    background-color: $fondo-navegacion;
    @include tablet{
         @include displayFlex(row, space-between,center);
    }
    h2{
        display:none;
        @include tablet{
            display:block;
        }
    }
    ul{
        @include displayFlex(column, center,center);
        @include tablet{
             @include displayFlex(row, center,center);
        }
        li{
            list-style: none;
            padding: 10px;
        }
        a{
            color:$color-navegacion;
            font-size: $fuente-principal-tamano - 0.1;
            text-decoration: none;
            text-align:center;
            display:block;
            &:hover{
                color: $color-navegacion-hover;
            }
        }
    }
}