$blanco:      #EEE8D6;
$azulOscuro:  #101068;
$amarillo:    #FFBA00;
$azul:        #0076A3;
$verde:       #548c27;
$rojo:        #fe2d28;
$negro:       #000000;
//
$color-fondo: $azul;
$color-principal: $blanco;
$color-titulos: $amarillo;
$color-navegacion: $blanco;
$color-navegacion-hover: $amarillo;
$color-borde-noticia:$blanco;
$color-header-noticia: lighten($amarillo,10);
$color-texto-noticia:$blanco;
$texto-boton: $blanco;
$color-caption: $amarillo;
$color-fondo-th: darken($azul, 20);
$color-fondo-td1:darken($azul,10);
$color-fondo-td2:$azul;
$color-tabla-hover:$amarillo;
$color-borde-tabla: $azulOscuro;

$fuente-principal: 'Open sans', sans-serif;
$fuente-principal-tamano: 1.4rem;
$fuente-titulos: 'Bitter', serif;
$fondo-navegacion: darken($azulOscuro,10);


$tablet: 768px;
$desktop: 1024px;

$numero-columnas: 12;