.recuadro1{
    column-count: 3;
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    column-rule: 2px solid red;
}

.recuadro2{
    column-count: 3;
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    column-rule: 2px dotted red;
}

.recuadro3{
    column-count: 3;
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    column-rule: 2px dashed blue;
}