.titulo1{
    text-shadow:
    3px 3px 3px grey,
    0px 0px 0px green,
    0px 0px 0px blue;
}

.titulo2{
    text-shadow:
    -2px -5px 3px grey,
    0px 0px 0px grey,
    0px 0px 0px blue;
}

.titulo3{
    text-shadow:
    2px 2px 2px red,
    5px 5px 2px green,
    10px 10px 4px blue;
}