/* Convertir este css en un scss, GENERA VARIABLES PARA LOS COLORES
body {
    padding: 1em 2em;
}

ul, ol {
list-style: none;
padding: 0;
}

li {
text-align: center;
line-height: 2;
background: slategrey;
}

div {
width: 12em;
float: left;
margin-right: 2em;
}

hr {
clear: both;
padding-top: 1em;
border: 0;
border-bottom: 1px solid grey;
}

.rojo {
    color:red;
}
*/

$backgroundLi: slategrey;
$colorClaseRojo: red;


body{
    padding: 1em 2em;

    ul, ol{
        list-style: none;
        padding: 0;
        
        li{
            text-align: center;
            line-height: 2;
            background: $backgroundLi;
        }
    }

    div{
        width: 12em;
        float: left;
        margin-right: 2em;    
    }

    hr{
        clear: both;
        padding-top: 1em;
        border: 0;
        border-bottom: 1px solid grey;
    }

    .rojo{
        color: $colorClaseRojo;
    }
}