body{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	margin:0;
	padding: 0;
}

ul{
	align-items: center;
	background-color:#0000FF;
	display:flex;
	height:80px;
	justify-content: flex-end;
	list-style:none;
}

li{
	margin:25px;
}

li a{
	color: #FFFFFF;
	text-decoration:none;
}