.contenedor{
    position: relative;
    background-color: lightcyan;
    width: 620px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.css{
    background-color: lightgray;
    width: 350px;
    font-family: Algerian;
    font-size: 200px;
    color: blue;
    position: absolute;
    top: 250px;
    left: 120px;
    z-index: 10;
}

.efectos{
    font-family: Arial;
    font-size: 70px;
    color: #ff00ff;
    position: absolute;
    top: 230px;
    left: 40px;
    z-index: 20;
}

.hojas{
    font-family: Arial;
    font-size: 90px;
    color: red;
    position: absolute;
    top: 255px;
    left: 40px;
    z-index: 30;
}


