body{
    position:absolute;
    display:flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    width: 100%;
    height: 100%;
}

header, nav, article, aside, footer {
    border: 2px solid grey;
    padding: 5px;
}

header, footer{
    background-color: wheat;
    flex-basis: 100%;
    width: 100vh;
}

nav, aside{
    background-color:lightpink;
    flex-grow: 1;
    height: 100vh;
}

article{
    background-color: palegreen;
    flex-grow: 5;

}