*{
    padding: 0;
    margin: 0;
}

body{
    background: blue;
}

header{
    width: 100%;
}

header nav{
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
    background: red;
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;

}

header nav ul li a:hover{
    background-color: rgb(247, 77, 77);

}

.menu{
    display: none;
}


@media screen and  (max-width: 800px){
    header nav{
        width: 100%;
        height: 100%;
        margin: 0;
        position: fixed;
    }

    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid green;
    }

    .menu{
        display: block;
        width: 100%;
        background: grey;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
    }


}

https://www.youtube.com/watch?v=EB4BG3QZn3o