@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    font-family: 'Readex Pro', sans-serif;
    /*
    display: grid;
    grid-template-rows: 1fr 6fr 6fr 1fr;   
    grid-template-columns: 6fr; */
}

/* Boton para volver arriba (solo para pantallas pequeñas) */
.return img{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 75px;
}

/********************************* HEADER *******************************************************/

@keyframes borderSwap{
    0%{  border: 2px solid yellow;}
    25%{ border: 2px solid cyan;}
    50%{ border: 2px solid red;}
    75%{ border: 2px solid green;}
    100%{ border: 2px solid yellow;}
}

@keyframes colorSwap{
    0%{ color: cyan;}
    25%{ color: yellow;}
    50%{ color: white;}
    75%{ color: purple; }
    100%{ color: cyan; }
}

header{
    width: 100%;
}

header nav{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: red;
}
/*
header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}*/
/*
header nav ul li a{
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;

}*/
/*
header nav ul li a:hover{
    background-color: rgb(247, 77, 77);

}
.menu{
    display: none;
}*/
/*
header{
    grid-row: 1;
    grid-column: 1/5;
    padding: 10px;
    opacity: 0.9;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header nav a{
    text-decoration: none;
    animation: colorSwap 5s infinite;
    font-weight: bold;
}

.navi{
    width: 75%;
    margin: auto;
    animation: borderSwap 5s infinite;
    padding: 10px;
}

.main{
    background-color: red;
    grid-column: 1;
}
.main:hover{
    background-color: yellow;
}

.form{
    background-color: blue;
    grid-column: 2;

}
.form:hover{
    background-color: yellow;
}

.shop{
    background-color: purple;
    grid-column: 3;
}
.shop:hover{
    background-color: yellow;
}

.whoAreUs{
    background-color: green;
    grid-column: 4;
  
}
.whoAreUs:hover{
    background-color: yellow;
}
*/
/************************ MAIN *******************************************************/
@keyframes rotating{
    from { transform: rotateY(0deg); }
    to { transform: rotateY(270deg); }
}
/*
main {
    grid-row: 2;
    grid-column: 1;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}
  
.cube {
    top: 20%;
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
}

.cube:hover{
    animation: rotating 1s forwards;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    border: 3px solid black;
    color: white;
    animation: borderSwap 5s infinite;
}

p{padding: 10px;}

.front {
    background-color: red;
    transform: translateZ(250px);
}

.back {
    background-color: purple;
    transform: translateZ(-250px);
}

.left {
    background-color: blue;
    transform: rotateY(90deg) translateZ(250px);
}

.right {
    background-color: green;
    transform: rotateY(-90deg) translateZ(250px);

}

.top {
background-color: cyan;
transform: rotateX(90deg) translateZ(250px);

}

.bottom {
background-color:yellow;
transform: rotateX(-90deg) translateZ(250px);

}




.texto{
    background-color: blue;
    width: 90%;
    height: 90%;
    margin: 20px;
    opacity: 1;
}

/********************************** ASIDE ****************************************************/

/*
aside{
    grid-row: 3;
    grid-column: 1;
    padding: 20px;
    

}

.noticias{
    background-image: linear-gradient(to right, black , black);
    height: 80%;
    opacity: 0.2;
    border-radius: 20px;
    margin: 10%
}*/
/*
.noticias{
    position: absolute;
    top: 10px;
    color: white;
    margin: 10%;
}
*/
/********************************** FOOTER ****************************************************/
/*footer{
    grid-row: 4;
    grid-column: 1/3;
    color: white;
}*/




@media (min-width: 550px) and (max-width:959px){
    


}

@media (min-width: 960px){
    


}


.cube{
    display: none;
}