body {
  padding: 1em 2em;
}

ul, ol {
  list-style: none;
  padding: 0;
}
li {
  text-align: center;
  line-height: 2;
  background: slategrey;
}
div {
  width: 12em;
  float: left;
  margin-right: 2em;
}
hr {
  clear: both;
  padding-top: 1em;
  border: 0;
  border-bottom: 1px solid grey;
}

.uno li:first-child{
  background: lightsteelblue;
}

.dos{
  color: red;
}

.dos *:nth-child(2) li:nth-child(3){
  background: lightsteelblue;
}

.dos i{
  font-style: normal;
}

.dos::after{
  content:"Soy posterior al bloque 2";
  color: green;
}

.tres *:nth-child(2n+1) li:nth-of-type(-n+3) {
  background: lightsteelblue;
}

.tres::before{
  content:"Soy previo al bloque 3";
  color: blue;
}





