
h1{
    text-align: center;
    margin-bottom: 60px;
}

.titulo{
    font-size: 1.5em;
    text-decoration: underline;
    color: red;
}

.caja1, .caja2, .caja3, .caja4{
    width: 25%;
    height: 75px;
    font-weight: bold;
    border: thick solid black;
    font-size: 2em;
    padding: 20px;
}

.caja1{
    background-color: red;
    position: relative;
}

.caja2{
    background-color: blue;
    position: relative;
    right: 100px;
    top: 60px;
}

.caja3{
    background-color: green;
    position: relative;
}

.caja4{
    background-color: yellow;
    position: relative;
    right: 100px;
    top: 60px;
}